@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (this.User.Identity.IsAuthenticated)
    {
        <p>Click on the button below to Check the TO Do's: </p>
        <button>ToDo List <a class="nav-link text-dark" asp-area="" asp-page="/ToDo/Index">Index</a>.</button>

    }
    else
    {
        <l><h1 class="display-4">Chatr Mobiles</h1></l>
        <p>Click Here to Learn More <a href="https://www.chatrwireless.com/">About Chatr</a>.</p>
        <img src="~/images/chatr-images.png" alt="Chatr Mobiles" width="500"
             height="400">
    }
</div>
